# Binaries
*.bin binary
*.dll binary
*.zip binary
*.psd binary

# Git LFS
# Temporarily disabled because it messes with older repos at work.
# *.bin filter=lfs diff=lfs merge=lfs -text
# *.dll filter=lfs diff=lfs merge=lfs -text
# *.zip filter=lfs diff=lfs merge=lfs -text
# *.psd filter=lfs diff=lfs merge=lfs -text
