# Git
**/.git

# Static files
**/node_modules
**/bower_components
**/dist
**/build

# Python
**/*.pyc
**/*.sqlite3

# Node
**/npm-debug.log

# ESLint
.eslintcache

# Istanbul
/coverage
/.nyc_output

# Folder view configuration files
**/.DS_Store
**/Desktop.ini

# Thumbnail cache files
**/._*
**/Thumbs.db

# Files that might appear on external disks
**/.Spotlight-V100
**/.Trashes
